* {
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

@font-face {
  font-family: "helveti";

  src: url("helveticanowtext-black-demo.ttf");
}
@font-face {
  font-family: "helvetiB";

  src: url("helveticanowtext-bold-demo.ttf");
}
#inputSearch {
  border-radius: 40px;
}
#btn-home {
  border-radius: 80px;
}
.home_text1 {
  font-size: 2vw;
}
.home_text2 {
  font-size: 5vw;
  font-family: "helveti";
}
.home_text11 {
  font-size: 1.5vw;
}
.men,
.women,
.combine {
  position: relative;
}
#summer_btn {
  position: absolute;
  top: 80%;
  left: 10%;
  border-radius: 20px;
}
.yoga_1,
.yoga_2 {
  position: relative;
}
#text_yoga {
  position: absolute;
  top: 85%;
  left: 50px;
}
#yoga_btn {
  position: absolute;
  top: 90%;
  left: 50px;
  border-radius: 20px;
}
.items_part {
  margin-top: 100px;
}
h6 {
  cursor: pointer;
}
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}
